.nav-bar {
  height: 100vh;
  .nav-bar-side {
    width: 250px;
  }
  mat-list {
    padding: 20px;
  }
  .list-item{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-list {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}