<mat-drawer-container class="nav-bar">
  <mat-drawer class="nav-bar-side" mode="side" opened>
    <mat-list role="list">
      <div class="list-item">
        <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon>
        <mat-list-item role="listitem">Home</mat-list-item>
      </div>
      <div class="list-item">
        <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="movie"></mat-icon>
        <mat-list-item role="listitem">Films</mat-list-item>
      </div>
      <div class="list-item">
        <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="live_tv"></mat-icon>
        <mat-list-item role="listitem">Series</mat-list-item>
      </div>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    Hola
  </mat-drawer-content>
</mat-drawer-container>